<template name="header_media">
   	<nav class="menu-header z-depth-4">
   		<div class="container">
   			<div class="nav-wrapper">
		      <a href="#" class="brand-logo">MATERIALIZE</a>
		      
		      <!-- Dropdown Menu -->
			  <ul id='dropdown1' class='dropdown-content'>
			    <li><a href="#!">Profile</a></li>
			    <li><a href="#!">Change password</a></li>
			    <li class="divider"></li>
			    <li><a href="#!">Log-out</a></li>
			  </ul>
			  <!--mobile mode-->
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="#" class="dropdown-button" data-activates="dropdown1">User</a></li>
		      </ul>

		      <!--mobile mode-->
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		      <!--mobile menu-->
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="sass.html" class="tooltipped" data-position="right" data-delay="50" data-tooltip="this is home"><i class="material-icons">home</i></a></li>
		        <li><a href="badges.html" class="tooltipped" data-position="right" data-delay="50" data-tooltip="This is setting" ><i class="material-icons">settings</i></a></li>
		      </ul>
		    </div>
   		</div>
  	</nav>
</template>
