<template name="upload_media">
  <h1>Upload file</h1>
  {{> uploadForm_media}}
  <p>Download</p>
  {{> file_media}}
</template>

<template name='file_media'>
  <div class="collection">
    {{#each file}}

      <table>
        <thead>
            <th>Avatar</th>
            <th>File Name</th>
            <th>Action</th>
        </thead>  
        <tr>
          <td>{{name}}</td>
          <td>
            <a class="btn-floating btn-large red">
                <i class="material-icons">menu</i>
                <div class="fixed-action-btn horizontal click-to-toggle">
                  <ul>
                    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                  </ul>
                </div>
              </a>
          </td>
        </tr> 
      </table>

      <table border="1" style="width: 1000px; text-align: center;">
                        <thead>
                        <tr>
                            
                        </tr>
                        <tr>
                            <th>No.</th>
                            <th>Email</th>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Staff ID</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in database | filter:search">
                                <td>{{x.uid}}</td>
                                <td>{{x.email}}</td>
                                <td>{{x.user_id}}</td>
                                <td>{{x.username}}</td>
                                <td>{{x.staff_id}}</td>  
                                <td><a href="#/employees/{{x.uid}}/edit" class="btn btn-warning">Edit</a>  <a ng-click="deleteData(x.uid)" class="btn btn-danger">Delete</a>
                                <a href="#/employees/{{x.uid}}/show" class="btn btn-default">Show </a></td>
                            </tr>
                        </tbody>
                    </table>
      
    {{/each}}
  </div>
</template>

<template name="uploadForm_media">
  {{#with currentUpload_media}}
    Uploading <b>{{file_media.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" />
  {{/with}}
</template>